.userList {
    overflow: auto;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 260px;
}

.userList >li{
    margin-bottom: 15px;
}


.userList >li:first-of-type{
    color: #505050;
    font-weight: 600;
    padding: 10px;
}

.userList >li>a{
    color: #505050;
    display: block;
    padding: 25px;
    background-color: white;
    box-shadow: 0 1px 20px rgba(0,0,0,0.12);
}
