.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .ant-card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}
